@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  color: #2a3547;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.login-container {
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.box-shadow {
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
}

.sub-menu:hover .box {
  border-color: #5d87ff;
}

.sub-menu.active .box {
  border-color: #5d87ff;
}

.w-custom-full {
  width: calc(100% - 312px);
}

.bg-blur {
  backdrop-filter: blur(5px);
}

/* responsive */
@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .w-custom-full {
    width: 100% !important;
  }
}
